body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body a, body a:visited, body a:active {
    text-decoration: none;
}

.header-row {
    background-color: #0078D7;
}

header div.top-row {
    height: 100px;
    line-height: 100px;
}

nav.primary > ul, nav.primary > ul > ul {
    position: relative !important; 
}

nav.secondary {
    background-color: #F0F0F0;
}

nav.secondary ul {
    list-style: none;
}

nav.secondary > ul {
    margin-left: 0px;
    padding-left: 6px;
}

nav.secondary > ul > li > ul {
    margin-left: 0px;
    padding-left: 12px;
    background-color: #EFF6FC;
}

.tsd-hierarchy a {
    text-decoration: none;
}